## Listagem das variaveis

Esse notebook tem como objetivo exclusivo listar quais são as variáveis e seus respectivos tipos de dados. Essa informação será utilizada para incluir os dados no banco. 

Talvez fosse possivel tratar os dados utilizando *Dask*, porém o objetivo de inserir os dados no banco antes de trabalhá-los é demonstrar conhecimento de SQL.

In [1]:
import gc
import json
from dask import dataframe as dd
import pandas as pd

In [3]:
files = [
    '../data/raw/data-sample_data-nyctaxi-trips-2009-json_corrigido.json',
    '../data/raw/data-sample_data-nyctaxi-trips-2010-json_corrigido.json',
    '../data/raw/data-sample_data-nyctaxi-trips-2011-json_corrigido.json',
    '../data/raw/data-sample_data-nyctaxi-trips-2012-json_corrigido.json'
]

buffer = open(files[0], 'r')
df = pd.DataFrame([
    json.loads(text.split('\n')[0])
    for text in buffer.readlines()[:1000]
])
df

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,tip_amount,tolls_amount,total_amount
0,CMT,2009-04-21T18:51:11.767205+00:00,2009-04-21T18:57:09.433767+00:00,2,0.80,-74.004114,40.742950,None,None,-73.994712,40.747950,Cash,5.4,0.0,0.0,0.0,5.4
1,CMT,2009-01-13T07:40:07.639754+00:00,2009-01-13T07:50:36.386011+00:00,1,5.40,-73.996506,40.747784,None,None,-73.940449,40.792385,Cash,15.4,0.0,0.0,0.0,15.4
2,VTS,2009-01-06T19:30:44.142187+00:00,2009-01-06T19:43:09.908429+00:00,5,1.67,-73.951340,40.752070,None,None,-73.944535,40.768108,CASH,6.1,1.0,0.0,0.0,7.1
3,VTS,2009-09-24T08:28:09.004451+00:00,2009-09-24T08:41:56.739991+00:00,1,4.13,-74.001117,40.729128,None,None,-73.958122,40.721812,CASH,12.9,0.5,0.0,0.0,13.4
4,VTS,2009-10-29T05:50:39.214629+00:00,2009-10-29T05:57:22.880174+00:00,1,2.03,-73.976600,40.756873,None,None,-73.979757,40.776075,CASH,7.7,0.5,0.0,0.0,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CMT,2009-02-26T13:47:43.752186+00:00,2009-02-26T13:55:34.852411+00:00,1,7.30,-73.962910,40.762625,None,None,-74.015403,40.714491,Cash,18.5,0.0,0.0,0.0,18.5
996,CMT,2009-04-07T21:49:55.166373+00:00,2009-04-07T21:56:12.47551+00:00,1,3.40,-73.981755,40.763011,None,None,-73.972011,40.794843,Cash,10.2,0.0,0.0,0.0,10.2
997,CMT,2009-07-08T15:44:57.73069+00:00,2009-07-08T15:50:56.464604+00:00,1,2.60,-74.003801,40.748949,None,None,-74.009246,40.717062,Cash,9.7,0.0,0.0,0.0,9.7
998,CMT,2009-11-11T15:19:19.42288+00:00,2009-11-11T15:28:11.45127+00:00,1,0.00,-73.964639,40.767205,None,None,-73.974043,40.756362,Cash,4.5,0.0,0.0,0.0,4.5
999,CMT,2009-06-12T14:08:37.553955+00:00,2009-06-12T14:16:20.96984+00:00,1,4.30,0.000000,0.000000,None,None,0.000000,0.000000,Cash,13.0,0.0,0.0,0.0,13.0

In [4]:
files = [
    '../data/raw/data-vendor_lookup-csv.csv',
    '../data/raw/data-payment_lookup-csv.csv'
]

df = pd.read_csv(files[0])
df

,ï»¿vendor_id,name,address,city,state,zip,country,contact,current
0,CMT,"Creative Mobile Technologies, LLC",950 4th Road Suite 78,Brooklyn,NY,11210,USA,contactCMT@gmail.com,Yes
1,VTS,VeriFone Inc,26 Summit St.,Flushing,NY,11354,USA,admin@vtstaxi.com,Yes
2,DDS,"Dependable Driver Service, Inc",8554 North Homestead St.,Bronx,NY,10472,USA,9778896500,Yes
3,TS,Total Solutions Co,Five Boroughs Taxi Co.,Brooklyn,NY,11229,USA,mgmt@5btc.com,Yes
4,MT,Mega Taxi,4 East Jennings St.,Brooklyn,NY,11228,USA,contact@megataxico.com,No

In [6]:
df = pd.read_csv(files[1], skiprows=1)
df

     payment_type payment_lookup
0             Cas           Cash
1             CAS           Cash
2             Cre         Credit
3             CRE         Credit
4             No       No Charge
...           ...            ...
3283         3267            Foo
3284         3268            Foo
3285         3269            Foo
3286         3270            Foo
3287         3271            Foo

[3288 rows x 2 columns]